<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" height="100%"
	   style="margin: 0 auto;" width="auto">
	<tbody>
	<tr>
		<td align="center" bgcolor="#ECECEC" valign="middle">
			<table border="0" cellpadding="0" cellspacing="0" width="600">
				<tbody>
				<tr bgcolor="#0C6AAD" style="height: 100px;">
					<td><center>
						<img height="70" id="imgTopo" src="../imagens/sesi.svg" width="auto"/>
                    </center>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF"
						style="padding: 30px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 22px">

						<h3>Acesso as Permissões - Portal de Privacidade</h3>
						<p style="font-family:Arial, Helvetica, sans-serif;font-size:14px">Prezado(a) <strong>{nomeUsuario}</strong>,
						</p>
						<p></p>
						<p style="font-family:Arial, Helvetica, sans-serif;font-size:14px">
							Você solicitou acesso ao Portal de Privacidade. Seus dados são: <br>
						</p>
						<ul style="margin-left: 10px">
							<li style="font-family:Arial, Helvetica, sans-serif;font-size:16px">
								Nome: <b>{nomeUsusario}</b>
							</li>
							<li style="font-family:Arial, Helvetica, sans-serif;font-size:16px">
								E-mail: <b>{emailUsusario}</b>
							</li>
						</ul>
						<p style="font-family:Arial, Helvetica, sans-serif;font-size:14px">
							Acesse o sistema através do link: <a href="{linkPortal}" 
                            onMouseOver="this.style.color='#ECECEC',this.style.background='#107bc7'"
                            onMouseOut="this.style.color='#fff', this.style.background='#0C6AAD'"
                            style="background-color: #0C6AAD; padding: 5px 10px 5px 10px; text-decoration: none; color: #fff; border-radius: 5px;"> 
                            <b>CLIQUE AQUI</b></a>
						</p>
						<span style="font-family:Arial, Helvetica, sans-serif;font-size:12px">
							<b>Gentileza não responder este E-mail. </b>
						</span>
						<p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;">
							Cordialmente,<br/>
							Portal de Privacidade
						</p>
					</td>
				</tr>
				<tr bgcolor="#0C6AAD" style="height: 60px;">
					<td>
						<p style="font-family:Arial, Helvetica, sans-serif;font-size:9px; color: #fff; text-align: center;">
                            Av. Araguaia, nº 1.544 - Edifício Albano Franco | Casa da Indústria - Vila Nova - CEP 74645-070 - Goiânia-GO   
                        </p>
                        <p style="font-family:Arial, Helvetica, sans-serif;font-size:9px; color: #fff; text-align: center;">
                            Central de Atendimentos: Goiânia - 4002 6213 | Demais localidades - 0800 642 1313
                        </p>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>
